<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BNS DEMO SEC.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>11</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E5D17029224D9DE68ECD148F00AD1EF14EA41AFA</string>
				<key>dateExpires</key>
				<string>02/12/22</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5D17029224D9DE68ECD148F00AD1EF14EA41AFA</string>
						<key>dateExpires</key>
						<string>02/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>39SJ8W9S67</string>
						<key>name</key>
						<string>BNS Group, AO</string>
					</dict>
					<key>versionNumber</key>
					<string>5.4.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5D17029224D9DE68ECD148F00AD1EF14EA41AFA</string>
						<key>dateExpires</key>
						<string>02/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>39SJ8W9S67</string>
						<key>name</key>
						<string>BNS Group, AO</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5D17029224D9DE68ECD148F00AD1EF14EA41AFA</string>
						<key>dateExpires</key>
						<string>02/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>39SJ8W9S67</string>
						<key>name</key>
						<string>BNS Group, AO</string>
					</dict>
					<key>versionNumber</key>
					<string>8.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5D17029224D9DE68ECD148F00AD1EF14EA41AFA</string>
						<key>dateExpires</key>
						<string>02/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>39SJ8W9S67</string>
						<key>name</key>
						<string>BNS Group, AO</string>
					</dict>
					<key>versionNumber</key>
					<string>8.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5D17029224D9DE68ECD148F00AD1EF14EA41AFA</string>
						<key>dateExpires</key>
						<string>02/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCrashlytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>39SJ8W9S67</string>
						<key>name</key>
						<string>BNS Group, AO</string>
					</dict>
					<key>versionNumber</key>
					<string>8.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5D17029224D9DE68ECD148F00AD1EF14EA41AFA</string>
						<key>dateExpires</key>
						<string>02/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>39SJ8W9S67</string>
						<key>name</key>
						<string>BNS Group, AO</string>
					</dict>
					<key>versionNumber</key>
					<string>8.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5D17029224D9DE68ECD148F00AD1EF14EA41AFA</string>
						<key>dateExpires</key>
						<string>02/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>39SJ8W9S67</string>
						<key>name</key>
						<string>BNS Group, AO</string>
					</dict>
					<key>versionNumber</key>
					<string>8.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5D17029224D9DE68ECD148F00AD1EF14EA41AFA</string>
						<key>dateExpires</key>
						<string>02/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>39SJ8W9S67</string>
						<key>name</key>
						<string>BNS Group, AO</string>
					</dict>
					<key>versionNumber</key>
					<string>9.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5D17029224D9DE68ECD148F00AD1EF14EA41AFA</string>
						<key>dateExpires</key>
						<string>02/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>39SJ8W9S67</string>
						<key>name</key>
						<string>BNS Group, AO</string>
					</dict>
					<key>versionNumber</key>
					<string>7.5.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5D17029224D9DE68ECD148F00AD1EF14EA41AFA</string>
						<key>dateExpires</key>
						<string>02/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>39SJ8W9S67</string>
						<key>name</key>
						<string>BNS Group, AO</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5D17029224D9DE68ECD148F00AD1EF14EA41AFA</string>
						<key>dateExpires</key>
						<string>02/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ImageSlideshow.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>39SJ8W9S67</string>
						<key>name</key>
						<string>BNS Group, AO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.9.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5D17029224D9DE68ECD148F00AD1EF14EA41AFA</string>
						<key>dateExpires</key>
						<string>02/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>M13Checkbox.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>39SJ8W9S67</string>
						<key>name</key>
						<string>BNS Group, AO</string>
					</dict>
					<key>versionNumber</key>
					<string>3.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5D17029224D9DE68ECD148F00AD1EF14EA41AFA</string>
						<key>dateExpires</key>
						<string>02/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Moya.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>39SJ8W9S67</string>
						<key>name</key>
						<string>BNS Group, AO</string>
					</dict>
					<key>versionNumber</key>
					<string>15.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5D17029224D9DE68ECD148F00AD1EF14EA41AFA</string>
						<key>dateExpires</key>
						<string>02/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>PhoneNumberKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>39SJ8W9S67</string>
						<key>name</key>
						<string>BNS Group, AO</string>
					</dict>
					<key>versionNumber</key>
					<string>3.3.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5D17029224D9DE68ECD148F00AD1EF14EA41AFA</string>
						<key>dateExpires</key>
						<string>02/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Rswift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>39SJ8W9S67</string>
						<key>name</key>
						<string>BNS Group, AO</string>
					</dict>
					<key>versionNumber</key>
					<string>5.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5D17029224D9DE68ECD148F00AD1EF14EA41AFA</string>
						<key>dateExpires</key>
						<string>02/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>39SJ8W9S67</string>
						<key>name</key>
						<string>BNS Group, AO</string>
					</dict>
					<key>versionNumber</key>
					<string>5.11.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5D17029224D9DE68ECD148F00AD1EF14EA41AFA</string>
						<key>dateExpires</key>
						<string>02/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>39SJ8W9S67</string>
						<key>name</key>
						<string>BNS Group, AO</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5D17029224D9DE68ECD148F00AD1EF14EA41AFA</string>
						<key>dateExpires</key>
						<string>02/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>39SJ8W9S67</string>
						<key>name</key>
						<string>BNS Group, AO</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5D17029224D9DE68ECD148F00AD1EF14EA41AFA</string>
						<key>dateExpires</key>
						<string>02/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>StarryStars.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>39SJ8W9S67</string>
						<key>name</key>
						<string>BNS Group, AO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5D17029224D9DE68ECD148F00AD1EF14EA41AFA</string>
						<key>dateExpires</key>
						<string>02/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>39SJ8W9S67</string>
						<key>name</key>
						<string>BNS Group, AO</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E5D17029224D9DE68ECD148F00AD1EF14EA41AFA</string>
						<key>dateExpires</key>
						<string>02/12/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>39SJ8W9S67</string>
						<key>name</key>
						<string>BNS Group, AO</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30908.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>39SJ8W9S67.ru.bns-group</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>39SJ8W9S67</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>BNS DEMO SEC.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b49fd91e-c75c-4821-9f83-f34d7f7b3c23</string>
				<key>dateExpires</key>
				<string>30/03/23</string>
				<key>name</key>
				<string>Development [AWG] CI/CD</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>39SJ8W9S67</string>
				<key>name</key>
				<string>BNS Group, AO</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.12</string>
		</dict>
	</array>
</dict>
</plist>
