<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>development</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>ru.bns-group</key>
		<string>Development [AWG] CI/CD</string>
	</dict>
	<key>signingCertificate</key>
	<string>E5D17029224D9DE68ECD148F00AD1EF14EA41AFA</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>39SJ8W9S67</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
